@page "/districtlist"
@attribute [Authorize]


@using System.Linq.Dynamic.Core


@using Microsoft.AspNetCore.Identity;
@using MonLicensing.Data
@using MonLicensing.Models
@using Radzen.Blazor;
@inject UserManager<ApplicationUser> _userManager;

@inject ApplicationDbContext db

@*<h1>Dropdown</h1>
    <RadzenDropDownDataGrid TValue="string" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true" AllowClear="true"
                            Data="@(customers.Select(c => new { RegionID = c.Id, Region = c.Name }).Distinct().AsQueryable())"
                            TextProperty="Region" ValueProperty="RegionId" Style="margin-bottom: 20px"
                            Change="@(args => Change(args, "DropDownDataGrid"))" />*@



<h3>Районы</h3>
<button class="btn btn-success" @onclick="AddNew">Добавить новый</button>
<RadzenGrid AllowFiltering="true" FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="10"
            AllowSorting="true" Data="@districts" TItem="District" ColumnWidth="150px">
    <Columns>
        <RadzenGridColumn TItem="District" Property="Region.Name" Title="Наименование"></RadzenGridColumn>
        <RadzenGridColumn TItem="District" Property="Name" Title="Наименование"></RadzenGridColumn>
       
        <RadzenGridColumn TItem="District" TextAlign="Radzen.TextAlign.Center" Title="Редактировать" Width="60px">
            <Template Context="district">
                <RadzenButton Click="@(args => Edit(district))"> <span class="oi oi-pencil" aria-hidden="true"></span> </RadzenButton>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="District" TextAlign="Radzen.TextAlign.Center" Title="Удалить" Width="60px">
            <Template Context="district">
                <RadzenButton Click="@(args => Delete(district))"><span class="oi oi-trash" aria-hidden="true"></span></RadzenButton>
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

@if (ShowPopup)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">@title</h3>
                    <button type="button" class="close"
                            @onclick="ClosePopup">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span style="color:red">@strError</span>
                    <table class="table">
                        <tr>
                            <td>Наименование</td>
                            <td><input type="text" class="form-control" @bind="@district.Name" /></td>
                        </tr>

                        <tr>
                            <td>Область</td>
                            <td>
                                <select class="form-control" @bind="@district.RegionId">
                                    @foreach (var cnt in regions)
                                    {
                                        <option value="@cnt.Id">@cnt.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-primary" @onclick="Save">
                                    Сохранить
                                </button>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
}


@code {

    private List<District> districts = new List<District>();

    private District district = new District();

    IEnumerable<string> multipleValues;
    string value;

    int count;
    List<Region> regions;



    void LoadData( )
    {
        district = new District();
        districts = db.District.ToList();
    }





    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    System.Security.Claims.ClaimsPrincipal CurrentUser;

    ApplicationUser objUser;
    string strError = "";
    string title = "";
    bool ShowPopup = false;


    void AddNew()
    {
        district = new District();
        district.Id = 0;
        title = "Новоя запись";
        ShowPopup = true;
    }
    async Task Save()
    {
        try
        {
            if (district.Id != 0)
            {
                District lt = await db.District.FindAsync(district.Id);
                lt.Name = district.Name;
                lt.RegionId = district.RegionId;
                await db.SaveChangesAsync();
            }
            else
            {
                db.District.Add(district);
                await db.SaveChangesAsync();
            }

            ShowPopup = false;
            LoadData();
        }
        catch (Exception ex)
        {
            strError = ex.GetBaseException().Message;
        }
    }
    async Task Edit(District lt)
    {
        title = "Редактирование";
        district = lt;
        ShowPopup = true;
    }
    async Task Delete(District lt)
    {
        ShowPopup = false;
        var obj = await db.District.FindAsync(lt.Id);
        if (obj != null)
        {
            db.District.Remove(obj);
            await db.SaveChangesAsync();
        }
        LoadData();
    }
    void ClosePopup()
    {
        ShowPopup = false;
    }

    protected override async Task OnInitializedAsync()
    {
        regions = db.Region.ToList();
        LoadData();
    }





}
